.ImagePreview {
    padding-top: 75%;
    position: relative;
}

.ImagePreview-LoadingContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ImagePreview-Image {
    width: 100%;
    height: auto;
    max-height: 100%;
}
